*.bak
*~
*.obj
*.sbr
*.ncb
*.o
*.la
*.lo
*.lib
*.idb
*.dep
*.manifest
*.dll
*.exe
*.exp
BuildLog.htm
.deps
.libs
*.user
*.pdb
*.gz
*.7z
*.rar
*.suo
*.diff
*.bsc

Makefile.in
	   
dist
tmp-build

autom4te.cache

win32/libtre_dll_Win32_MSVC2008.Debug
win32/libtre_lib_Win32_MSVC2008.Debug
win32/retest_Win32_MSVC2008.Debug
win32/retestw_Win32_MSVC2008.Debug

